<section id="search" class="search-wrap">
    <h1>Find A Movie</h1>
    <form action="/movies/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Sherlock Holmes, The Ozark....">
      <input type="submit" value="Search">
    </form>
  </section>