{{!-- NavBar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-light p-3">
  {{!-- Logo --}}
  <a class="navbar-brand text-dark" href="/">Movie Gurus</a>
  
  {{!-- Right Side of the navbar --}}
  <ul class="navbar-nav ml-auto">
    {{!-- All Movies --}}
    <li class="nav-item">
      <a class="navbar-item nav-link navbar-right text-dark" href="/movies">All Movies</a>
    </li>
    {{!-- Add Movies --}}
    <li class="nav-item">
      <a class="navbar-item nav-link navbar-right text-dark" href="/movies/add">Add Movies</a>
    </li>
    {{!-- History --}}
    <li class="nav-item">
      <a class="navbar-item nav-link navbar-right text-dark" href="">
        History
      </a>
    </li>
    {{!-- Logout --}}
    <li class="nav-item">
      <a class="navbar-item nav-link navbar-right text-dark" href="/logout">
        Logout
      </a>
    </li>
  </ul>
</nav>

{{!-- Greeting Header --}}
    <div class="greeting">
      <h4 class="m-0 font-italic">Hello</h4><span class="member-name"></span>
    </div>


<!-- Questions -->
<section class="questions">
   <form class="search">
   
    {{!-- Question 1 --}}
     <div class="form-group">
      <input type="text" id="moviesSearch" class="form-control text-questions" placeholder="Movie names: Sherlock Holmes ...">
    </div>
    
    
    {{!-- Question 2 --}}
    <div class="form-group">
      <input type="text" id="genreSearch" class="form-control text-questions" placeholder="Movie Genre...">
    </div>

    {{!-- Question 3 --}}
    <div class="form-group">
      <input type="text" id="prefActors" class="form-control text-questions" placeholder="Actor or Director...">
    </div>
  </div>
  {{!-- Question 4 --}}
  <div class="form-group">
      <input type="text" id="yearSearch" class="form-control text-questions" placeholder="Release Year...">
    </div>
    <button type="submit" id="test" class="btn btn-outline-success btn-lg ml-3">Search <i class="fas fa-angle-double-right text-danger"></i></button>
</form>
</section>

<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/movies.js"></script>

