{{!-- 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style.css">
  <title>Moviessaver</title>
</head>

{{!-- <body> --}}
 <header class="inner">
      <h2><a href="/"><i class="fas fa-code"></i>
          Save Your Flix!</a></h2>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/movies">All Movies</a>
          </li>
          <li>
            <a href="/movies/add">Add Movies</a>
          </li>
        </ul>
      </nav>
    </header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>Welcome <span class="member-name"></span></h2>
        </div>
      </div>
    </div>


    

    <div class="container">
      {{{body}}}
    </div>
    <script type="text/javascript" src="js/members.js"></script>

</body> --}}

{{!-- </html> --}}
=======
{{!-- NavBar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-light p-3">
  {{!-- Logo --}}
  <a class="navbar-brand text-dark" href="#">Movie Gurus</a>  
  {{!-- Right Side of the navbar --}}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="navbar-item nav-link navbar-right text-dark" href="/logout">
        Logout
      </a>
    </li>
    <li class="nav-item">
      <a class="navbar-item nav-link navbar-right text-dark" href="">
        History
      </a>
    </li>
  </ul>
</nav>

{{!-- Greeting Header --}}

    <div class="greeting">
      <h4 class="m-0 font-italic">Hello</h4><span class="member-name"></span>
    </div>


<!-- Questions -->
<section class="questions">
   <form class="search">
    {{!-- Question 1 --}}
    <div class="form-group">
      <input type="text" id="genreSearch" class="form-control text-questions" placeholder="Movie Genre...">
    </div>

    {{!-- Question 2 --}}
    <div class="form-group">
      <input type="text" id="prefActors" class="form-control text-questions" placeholder="Actor or Director...">
    </div>
  </div>
  {{!-- Question 3 --}}
  <div class="form-group">
      <input type="text" id="yearSearch" class="form-control text-questions" placeholder="Release Year...">
    </div>
    <button type="submit" id="test" class="btn btn-outline-success btn-lg ml-3">Search <i class="fas fa-angle-double-right text-danger"></i></button>
</form>
</section>

<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/movies.js"></script>

