{{!-- NavBar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-light p-3">
  {{!-- Logo --}}
  <a class="navbar-brand text-dark" href="#">Movie Gurus</a>  
  {{!-- Right Side of the navbar --}}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="navbar-item nav-link navbar-right text-dark" href="/logout">
        Logout
      </a>
    </li>
    <li class="nav-item">
      <a class="navbar-item nav-link navbar-right text-dark" href="">
        History
      </a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Hello <span class="member-name"></span></h2>
    </div>
  </div>
</div>

<!-- Questions -->
<section class="questions">
   <form>
    {{!-- Question 1 --}}
    <div class="">
      <input type="text" class="form-control text-questions" placeholder="Movie Genre...">
    </div>

    {{!-- Question 2 --}}
    <div class="">
      <input type="text" class="form-control text-questions" placeholder="Actor or Director...">
    </div>
  </div>
  {{!-- Question 3 --}}
  <div class="">
      <input type="text" class="form-control text-questions" placeholder="Release Year...">
    </div>
    <button type="button" class="btn btn-outline-success btn-lg ml-3">Search <i class="fas fa-angle-double-right text-danger"></i></button>
</form>
</section>

<script type="text/javascript" src="js/members.js"></script>