form.signup,
form.login {
  margin-top: 50px;
}

  .text-questions{
    width: 55%;
    padding: 22px;
    margin: 15px;
    border-radius: 50px;
  }

  /* Stack overflow preview fix, please ignore */
  .navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  
  /* Fixes dropdown menus placed on the right side */
  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }