/* NavBar */
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.ml-auto {
  left: auto !important;
  right: 0px;
}

/* Greeting Header */
.greeting {
  margin: 30px 15px;
}

/* Form Questions */
.questions-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
.text-questions {
  padding: 22px;
  border-radius: 30px;
}
.searchBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.questions {
  padding: 30px 0px;
}

#suggestions-all {
  width: 70%;
  background-color: grey;
  padding: 5%;
}

