/* NavBar */
.navbar-nav {
    flex-direction: row;
  }
  
.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }

.ml-auto{
    left: auto !important;
    right: 0px;
  }

/* Greeting Header */
.greeting{
    margin: 30px 15px;
}

/* Form Questions */
.text-questions{
    width: 55%;
    padding: 22px;
    margin: 15px;
    border-radius: 30px;
  }

  .form-group{
    background: url('../img/moviessaver.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 20vh;
    width: 100%;
    padding: 1.3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.searchbtn {
margin: auto;
display: flex;
display: grid;
text-align:center;
}